<div class="sign-up-component">
  <div class="sign-up-form-section row m-0 background-page">
    <div class="col-md-12 logo-head">
      <a class="navbar-brand logo" [routerLink]="['/home']">
        <img class="brand-logo logomobile" src="/assets/icons-simustream/blue-simu-logo.svg" alt="">
      </a>
    </div>
    <img src="/assets/images/latest/pricing element 1.svg" class="pricingsideimgx">
    <img src="/assets/images/latest/faqs element 2.svg" class="pricingsideimgy">
    <img src="/assets/images/latest/contact element.svg" class="pricingsideimg3">
    <div class="col-md-4 bg border-style shadow-box sign-box">

      <div class="header-section pb-2">
        <h2>Sign Up</h2>
        <h5>Plan: {{plan}}</h5>
        <div *ngIf="referralCode">
          <h6>Referral Code: {{referralCode}}</h6>
        </div>
      </div>
      <form ngNativeValidate (ngSubmit)="signUp()" name="sign-up">
        <div class="form-group">
          <input type="text" class="form-control mt-2" [(ngModel)]="user.firstName" id="firstName" name="firstName"
            placeholder="First Name" maxlength="40">
          <span class="errormsg" *ngIf="user.firstName && !checkValid(user.firstName,'name')">*Please enter a valid
            firstname.</span>
          <input type="text" class="form-control mt-3" [(ngModel)]="user.lastName" id="lastName" name="lastName"
            placeholder="Last Name" maxlength="40">
          <span class="errormsg" *ngIf="user.lastName && !checkValid(user.lastName,'name')">*Please enter a valid
            lastname.</span>
          <input type="text" class="form-control mt-3" [(ngModel)]="user.email" id="email" name="email"
            placeholder="johndoe@email.com" maxlength="50">
          <span class="errormsg" *ngIf="user.email && !checkValid(user.email,'email')">*Please enter a valid
            email.</span>
          <input type="text" class="form-control mt-3" [(ngModel)]="user.phoneNumber" id="phoneNumber" name="userName"
            placeholder="Phone Number">
          <div class="errormsg" *ngIf="user.phoneNumber && !checkValid(user.phoneNumber,'phone')">
            <span class="errormsg">*Please enter a valid phone
              no</span><br />
            <span>(should be of min
              10 characters and max 13 characters ).</span>
          </div>

          <!-- <span class="errormsg" *ngIf="user.phoneNumber && checkLength(user.phoneNumber,'phone') && checkValid(user.phoneNumber,'phone')">*phone no should
            be minimum 9 characters and maximum 15 characters long.</span> -->
          <input type="password" class="form-control mt-3" [(ngModel)]="user.password" id="password" name="password"
            placeholder="Password">
          <span class="errormsg" *ngIf="user.password && checkLength(user.password,'password')">*Password should be
            minimum 8 characters long.</span>
          <input type="password" class="form-control mt-3" [(ngModel)]="user.confirmPassword" id="confirmPassword"
            name="confirmPassword" placeholder="Confirm Password">
          <span class="errormsg" *ngIf="user.password && (user.password !== user.confirmPassword)">*Passwords don't
            match.</span>
          <div class="mt-3">
            <response-manager></response-manager>
            <button type="submit" class="btn btn-sign-in mt-3"
              [disabled]="checkFormValidity() || user.password !== user.confirmPassword">Sign up</button>
          </div>
          <label class="forgot-password mt-3 white">Already a member? <a [routerLink]="['/sign-in']">Sign In</a></label>
        </div>
        <!-- <a [routerLink]="['/forgot-password']"> <label class="forgot-password mt-2" >Forgot Password?</label></a> -->
      </form>
      <div class="go-back col-md-12">
        <button class="btn btn-sign-in btn-w-100 go-back-button content-left" [routerLink]="['/subscription-plan']"><img
            class="back-arrow" src="assets/icons-simustream/gobakc-blue-opposite-2px.png" alt=""></button>
      </div>
    </div>
  </div>
</div>