<main-header></main-header>
<div class="row faq-upper-image">
    <div class="faq-main-heading">
        <h1>Frequently Asked Questions</h1>
    </div>
        <img src="/assets/images/latest/faqs element 1.svg" class="pricingsideimg1">
        <img src="/assets/images/latest/faqs element 2.svg" class="pricingsideimg2">
        <img src="/assets/images/latest/contact element.svg" class="pricingsideimg3">
</div>
<div class="row bg">
    <div class="col-lg-2 col-md-1 col-0"></div>
    <div class="col-lg-8 col-md-10 col-12">
        <div class="container">
            <div class="accordion-div">
                <button class="accordion">What is a Stream? <img class="toggle-button" src="assets/images/circle-drop-up.svg"
                        alt=""></button>
                <div class="accordion-content">
                    <p>
                        A stream is a video with a seamless overlay. This overlay enables viewers to purchase products
                        that
                        appear in the video, without having to leave or pause the video (oka non-redirectional in-video
                        shopping)
                    </p>
                </div>
            </div>



            <div class="accordion-div">
                <button class="accordion">What is a streamer?<img class="toggle-button" src="assets/images/circle-drop-up.svg"
                        alt=""></button>
                <div class="accordion-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                </div>
            </div>

            <div class="accordion-div">
                <button class="accordion">What is a stream viewer?<img class="toggle-button" src="assets/images/circle-drop-up.svg"
                        alt=""></button>
                <div class="accordion-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                </div>
            </div>

            <div class="accordion-div">
                <button class="accordion">Is Simustream available in other languages?<img class="toggle-button" src="assets/images/circle-drop-up.svg"
                        alt=""></button>
                <div class="accordion-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                </div>
            </div>

            <div class="accordion-div">
                <button class="accordion">Can I have two Simustream accounts simultaneously?<img class="toggle-button" src="assets/images/circle-drop-up.svg"
                        alt=""></button>
                <div class="accordion-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                </div>
            </div>

            <div class="accordion-div">
                <button class="accordion">Are any plugins required?<img class="toggle-button" src="assets/images/circle-drop-up.svg"
                        alt=""></button>
                <div class="accordion-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                </div>
            </div>
            <div class="accordion-div">
                    <button class="accordion">Why do I need a Shopify account? <img class="toggle-button" src="assets/images/circle-drop-up.svg"
                            alt=""></button>
                    <div class="accordion-content">
                        <p>
                            A stream is a video with a seamless overlay. This overlay enables viewers to purchase products
                            that
                            appear in the video, without having to leave or pause the video (oka non-redirectional in-video
                            shopping)
                        </p>
                    </div>
                </div>
            <div class="accordion-div">
                <button class="accordion">What if my product isn't showing up on a stream?<img class="toggle-button" src="assets/images/circle-drop-up.svg"
                        alt=""></button>
                <div class="accordion-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                </div>
            </div>

            <div class="accordion-div">
                <button class="accordion">Does Simustream work with every browser?<img class="toggle-button" src="assets/images/circle-drop-up.svg"
                        alt=""></button>
                <div class="accordion-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas deleniti molestias necessitatibus
                        quaerat
                        quos incidunt! Quas officiis repellat dolore omnis nihil quo, ratione cupiditate! Sed, deleniti,
                        recusandae!
                        Animi, sapiente, nostrum?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-1 col-0"></div>
</div>
<div class="faq-footer">
    <h1 class="footer-heading">Have more questions?</h1>
    <span class="footer-subheading">Email us <a href="" class="footer-link">support@simustream.com</a></span>
</div>
<main-footer></main-footer>