*{
  box-sizing: border-box;
}


.teamimageclass{
  width: 100%;
  height: auto;
}
.team-upper-image {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  display: grid !important;
  text-align: center;
  }
  
  .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  }
  .team-main-heading {
  margin: 120px;
  color: white;
  }

  .teambuttonplus{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: -15px;
    font-size: 24px !important;
    font-weight: 300 !important;
    font-family: sofia-pro-light !important;
    color: azure !important;
  }
.team-move-up{
  transform: translateY(-40px)
}
.teamtextcolor{
  color: #798192
}
.teamtextcolorh{
  color: #021c6d
}
.teamunselectable {
  opacity: 0.8;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.teamcardpadding{
  padding: 12px 40px 12px
}
.team-card-margin{
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .team-main-heading {
      margin: 20px;
      margin-top: 70px;
      color: white;
      }
      .teamimageclass {
        width: 70%;
        margin-bottom: 10px;
        height: auto;
    }
}

@media screen and (max-width: 767px) {
  .teamcardpadding{
      padding: 6px 24px 6px
  }
}
.teampagesubheading{
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: sofia-pro-light !important;
}

.lowopacity{
  opacity: 0.5 !important;
}
@media screen and (max-width: 575px) {
  .teamcardpadding{
      padding: 12px 40px 12px
  }
  .container{
      padding-left: 12.5%;
      padding-right: 12.5%;
  }
  .teambuttonplus{
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .container{
      padding-left: 7.5%;
      padding-right: 7.5%;
  }
}
@media screen and (min-width:768px){
  .teamimageclass[_ngcontent-c4] {
    width: 100%;
    height: auto;
}
}