h4{
    font-weight: lighter !important;
    font-size: 15px !important;
    font-family: sofia-pro-regular, sans-serif !important;
    color: "#354168" !important;

}
.funnel-analytics{
    padding-top: 45px;
    padding-left: 70px;
}


.pt-d{
    padding-top: 19px;
}