<div class="col-md-12 card-height">
    <div class="analytics-card h-100 card-border">
        <div class="row pt-3">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <span class="purple-dot"></span> <span class="pl-3 grey-text">Product Sales</span>
            </div>
            <div class="col-md-4">
                <span class="grey-dot"></span> <span class="pl-3 grey-text">Product Views</span>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row pt-1 pl-5 m-0">
            <!-- <div class="col-md-5">
                <h5 class="" *ngFor="let label of labels">{{label}}</h5>
            </div> -->
            <div class=""><canvas id="barChart"></canvas></div>
        </div>
    </div>
</div>