
$black: #000 !default;
$grays: () !default;
$grays: map-merge(( "100": $gray-100, "200": $gray-200, "300": $gray-300, "400": $gray-400, "500": $gray-500, "600": $gray-600, "700": $gray-700, "800": $gray-800, "900": $gray-900), $grays);
$blue: #5579F3;
$dark-blue: #354168 ;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #FF5342 ;
$brown: #A25B48 !default;
$orange: #c77903 !default;
$new-orange: #FF9A00 !default;
$yellow: #feda3a !default;
$green: #00E098 ;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$gray: #333333 !default;
$text-gray:#798192;
$lightgray: #F0F1F7;
$line-gray: #E6E7EF;
$fill-gray: #F8F9FB;
$border-gery:#C6CDD3;
$colors: () !default;
$colors: map-merge(( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800), $colors);
$primary: $blue !default;
$theme-color: $black !default;
$secondary: $gray !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$theme-colors: (( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark)) !default;
$headings-color: $gray-800 !default;
$theme-colors: map-merge(( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark), $theme-colors);
$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;
// $headings-font-weight: 600 !default;
$input-placeholder-color: $dark !default
