<main-header></main-header>
<div class="about-div-1">
  <div class="row m-0">
    <div class="about-blue-part col-sm-9 p-0">
      <div class="about-blue-part-content">
        <div class="about-blue-part-content-heading">
          <h1>
            The first and only <br />single-screen, in-video shopping platform.
          </h1>
        </div>
        <div class="about-blue-part-content-link mt-5">
          <a [routerLink]="['/sign-up']">
            <h4>
              Sign Up Now
              <img class="about-arrow" src="assets/images/latest/arrow 1.svg" />
            </h4>
          </a>
        </div>
      </div>
    </div>
    <div class="about-white-part col-sm-3 p-0">
      <div class="about-white-part-content"></div>
    </div>
    <div class="about-header-images">
      <div class="about-header-img-1">
        <img src="assets/images/latest/boy-sitting.png" />
      </div>
      <div class="about-header-img-2">
        <img src="assets/images/about-header-img-2.png" />
      </div>
      <div class="about-header-img-3">
        <img src="assets/images/about-header-img-3.png" />
      </div>
      <div class="about-header-img-4">
        <img src="assets/images/latest/about us element 2.svg" />
      </div>
      <div class="about-header-img-5">
        <img src="assets/images/latest/about us element 1 hor.svg" />
      </div>
    </div>
  </div>
</div>

<div class="about-div-2">
  <div class="about-div-2-content">
    <div class="row m-0 about-custom-row the-problem-row">
      <div class="col-sm-5">
        <div class="about-left-heading">
          <h2>
            <img class="pr-2" src="assets/images/latest/green-triangle.svg" />
            The problem?
          </h2>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="about-right-text-1">
          <p>
            Overall, U.S. advertisers spend $4 billion a year on video ads. But
            for 40% of total marketing spend, it seemed to our founders that
            brands should be getting more return on their investment.
          </p>
          <p class="below">The typical video has no BUY button.</p>
        </div>
      </div>
    </div>

    <div class="row m-0 about-thin-divider-outer">
      <div class="row m-0 about-thin-divider-inner"></div>
    </div>

    <div class="row m-0 about-custom-row">
      <div class="col-sm-5">
        <div class="about-left-heading">
          <h2>
            <img class="pr-2" src="assets/images/latest/blue-triangle.svg" />
            The solution?
          </h2>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="about-right-text-2">
          <p class="above">SimuStream.</p>
          <p>
            As shoppable video software, we enable consumers to buy while they
            stream-driving instant conversions right inside your videos.
          </p>
          <p>
            Our real-time, shop-while-you-watch platform connects companies of
            all sizes, in any industry. Shoppers buy while they watch-without
            redirects or pausing. Transactions are made right onscreen. Video
            becomes e-commerce. And your brand stays front and center.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-div-3">
  <div class="row m-0">
    <div class="col-md-7 p-0">
      <div class="see-want-buy-background">
        <div class="see-want-buy-content">
          <h1>See It. Want It. Buy It.</h1>
          <div class="mt-5">
            <h4>Online shopping will never be the same.</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 p-0">
      <div class="about-div-3-image">
        <img src="assets/images/latest/people-sitting.png" />
      </div>
    </div>
  </div>
</div>

<main-footer></main-footer>
