$blue: #5579f3;
$white: #ffffff;
$divider: #c6cdd3;
$div-blue: #354168;
$footer-link: #354168;
$green: #00c4da;
.about-blue-part-content-heading {
  h1,
  h4 {
    color: white !important;
  }
}
.about-blue-part-content-link {
  h1,
  h4 {
    color: white !important;
  }
}
.about-blue-part {
  background-image: url("./../../../assets/images/latest/about-us-element-1.svg");
  background-color: $blue;
  background-position: bottom -15px left;
  background-repeat: no-repeat;
}

.about-header-images {
  width: 100%;
  position: absolute;
}

.about-header-img-1 {
  position: absolute;
  top: 150px;
  right: 260px;
  max-width: 320px;
  max-height: 340px;
  z-index: 1;
}

.about-header-img-2 {
  position: absolute;
  top: 110px;
  right: 51px;
  max-width: 170px;
  max-height: 170px;
  z-index: 1;
}

.about-header-img-3 {
  position: absolute;
  top: 315px;
  right: 1px;
  max-width: 221px;
  max-height: 238px;
  z-index: 1;
}

.about-header-img-4 {
  position: absolute;
  top: 440px;
  right: 360px;
  z-index: 1;
}

.about-header-img-5 {
  display: none;
}

.about-header-img-1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-header-img-2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-header-img-3 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-blue-part-content {
  padding: 15% 30% 15% 10%;
  color: $white;
  h1 {
    font-size: 60px;
    // font-weight: 600;
  }
  a {
    color: $white;
    text-decoration: underline;
    text-decoration-color: #e7e7e7 !important;

    :hover {
      color: #fdfdfd;
      text-decoration-color: #fdfdfd !important;
    }
  }
}

.about-white-part {
  // background-color:$white;
  background-color: #ffffff !important;
}

.about-div-2 {
  padding: 0 16% 0 7%;
  color: $div-blue;
  background-color: white !important;
}

.about-left-heading h2 {
  font-size: 40px;
}

.about-right-text-1 {
  p {
    font-size: 19px;
  }
  p.below {
    color: #00c4d1 !important;
    font-size: 34px;
  }
}

.about-right-text-2 {
  p {
    font-size: 19px;
  }
  p.above {
    color: #5579f3 !important;
    font-size: 34px;
  }
  padding-bottom: 15px;
}

.fa-play.fa-green {
  color: $green;
  font-size: 18px;
}

.fa-play.fa-blue {
  color: $blue;
  font-size: 18px;
}

.about-custom-row {
  padding: 8% 0;
}

.about-thin-divider-outer {
  padding: 0 10px 0 75px;
}

.about-thin-divider-inner {
  width: 100%;
  border-top: 1px solid $divider;
}

.see-want-buy-background {
  height: auto;
}

.see-want-buy-content {
  padding: 15% 19% 13% 13%;
  background-color: $div-blue;
  color: $white;
  h1 {
    font-size: 58px;
    // font-weight: 600;
    color: white !important;
  }
  h4 {
    color: white !important;
    font-size: 26px;
  }
}

.about-div-3-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.about-last-footer {
  padding: 5% 5%;
  a {
    color: $footer-link;
    font-size: 16px;
    // font-weight: 600;
  }
}

// .copyright h5{
//   color: $footer-copyright;
// }

@media only screen and (max-width: 865px) and (min-width: 768px) {
  .see-want-buy-content h1 {
    font-size: 34px !important;
  }
  .see-want-buy-content {
    padding: 9% 5% 9% 10% !important;
  }
}

@media only screen and (max-width: 1100px) {
  .about-blue-part-content-heading h1 {
    font-size: 42px;
  }
  .about-header-img-1 {
    top: 140px;
    right: 200px;
    max-width: 220px;
    max-height: 240px;
  }

  .about-header-img-2 {
    top: 95px;
    right: 41px;
    max-width: 130px;
    max-height: 130px;
  }

  .about-header-img-3 {
    top: 245px;
    right: 10px;
    max-width: 161px;
    max-height: 168px;
  }

  .about-header-img-4 {
    top: 320px;
    right: 255px;
    z-index: 1;
  }

  .about-blue-part {
    background-size: 160px 190px;
  }
}

@media only screen and (max-width: 845px) {
  .about-blue-part-content-heading h1 {
    font-size: 32px;
  }

  .about-blue-part-content-link a h4 {
    font-size: 16px;
  }

  .about-header-img-1 {
    top: 145px;
    right: 150px;
    max-width: 150px;
    max-height: 161px;
  }

  .about-header-img-2 {
    top: 110px;
    right: 41px;
    max-width: 90px;
    max-height: 90px;
  }

  .about-header-img-3 {
    top: 210px;
    right: 10px;
    max-width: 121px;
    max-height: 130px;
  }

  .about-header-img-4 {
    top: 280px;
    right: 190px;
    z-index: 1;
    max-width: 80px;
    max-height: 80px;
  }

  .about-header-img-4 img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 620px) {
  .about-blue-part-content-heading h1 {
    font-size: 36px;
  }

  .about-blue-part-content-link h4 {
    font-size: 22px;
  }

  .about-header-img-1 {
    top: 225px;
    right: 110px;
    max-width: 100px;
    max-height: 107px;
  }

  .about-header-img-2 {
    top: 200px;
    right: 41px;
    max-width: 60px;
    max-height: 60px;
  }

  .about-header-img-3 {
    top: 265px;
    right: 10px;
    max-width: 92px;
    max-height: 99px;
  }

  .about-header-img-4 {
    top: 260px;
    right: 100px;
    z-index: 1;
  }
}

@media only screen and (max-width: 499px) {
  .about-blue-part-content {
    padding: 25% 10% 35% 10%;
  }

  .about-blue-part-content-heading h1 {
    font-size: 40px;
  }

  .about-blue-part-content-link h4 {
    font-size: 16px;
  }

  .about-header-img-1 {
    top: 288px;
  }

  .about-header-img-2 {
    top: 252px;
  }

  .about-header-img-3 {
    top: 317px;
  }

  .about-header-img-4 {
    top: 340px;
    right: 75px;
    z-index: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .about-left-heading h2 {
    font-size: 26px;
  }

  .about-right-text-1 {
    p {
      font-size: 13px;
    }
    p.below {
      font-size: 23px;
    }
  }

  .about-right-text-2 {
    p {
      font-size: 13px;
    }
    p.above {
      font-size: 23px;
    }
  }

  .see-want-buy-content {
    padding: 15% 19% 10% 13%;
    h1 {
      font-size: 40px;
      // font-weight: 600;
    }
    h4 {
      font-size: 17px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .about-div-1 *,
  .about-div-2 *,
  .about-div-3 *,
  .about-div-4 * {
    text-align: left;
  }

  .about-div-2 {
    padding: 0 5% 0 5%;
  }

  .about-thin-divider-outer {
    padding: 0 20px 0 20px;
  }

  .about-custom-row h2 {
    font-size: 22px;
  }

  .about-right-text-2,
  .about-right-text-2 {
    text-align: left !important;
  }

  .see-want-buy-content h4 {
    font-size: 16px;
  }

  .about-right-text-1 {
    p {
      font-size: 12px;
    }
    p.below {
      font-size: 18px;
    }
  }

  .about-right-text-2 {
    p {
      font-size: 12px;
    }
    p.above {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 488px) {
  .about-last-footer a {
    font-size: 14px;
  }

  .about-last-footer {
    padding: 5% 0;
  }
}

@media only screen and (max-width: 425px) {
  .about-blue-part-content-heading h1 {
    font-size: 30px !important;
  }

  .see-want-buy-content h4 {
    font-size: 16px;
  }

  .see-want-buy-content h1 {
    font-size: 40px !important;
  }

  .about-custom-row {
    padding: 18% 0 8% 0;
  }

  .the-problem-row {
    padding: 45% 0 12% 0;
  }

  .about-arrow {
    width: 16px;
    height: 16px;
  }

  .about-div-3-image {
    position: relative;
    margin-top: -230px;
    margin-left: 40px;
  }

  .see-want-buy-content {
    padding: 15% 5% 65% 10%;
  }

  .about-header-img-1 {
    top: 365px;
    right: 120px;
    max-width: 170px;
    max-height: 170px;
  }

  .about-header-img-2 {
    top: 330px;
    max-width: 100px;
    max-height: 100px;
    right: 0;
  }

  .about-header-img-3 {
    top: 443px;
    right: 0;
    max-height: 161px;
    max-width: 100px;
    overflow: hidden;
  }

  .about-header-img-3 img {
    object-fit: initial;
    width: 130%;
    height: 100%;
  }

  .about-header-img-4 {
    top: 391px;
    right: 264px;
    z-index: 1;
    max-width: 115px;
    max-height: 105px;
  }

  .about-header-img-4 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .about-blue-part {
    background-image: none;
  }

  .about-header-img-5 {
    display: inherit;
    position: absolute;
    top: 180px;
    right: 0;
    z-index: 1;
    max-width: 180px;
    max-height: 204px;
  }

  .about-header-img-5 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .about-left-heading h2 img {
    height: 18px;
    width: 18px;
  }

  .about-custom-row h2 {
    font-size: 26px;
  }

  .about-right-text-1,
  .about-right-text-2 {
    padding: 6% 7% 0 7%;
  }

  .about-div-2 {
    padding: 0 1% 0 1%;
  }

  .about-right-text-1 {
    p {
      font-size: 14px;
    }
    p.below {
      font-size: 22px;
    }
  }

  .about-right-text-2 {
    p {
      font-size: 14px;
    }
    p.above {
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .about-div-3-image {
    margin-top: -180px;
  }

  .about-right-text-1,
  .about-right-text-2 {
    padding: 6% 8% 0 8%;
  }
}

@media only screen and (max-width: 320px) {
  .about-right-text-1,
  .about-right-text-2 {
    padding: 6% 10% 0 10%;
  }

  .the-problem-row {
    padding: 60% 0 12% 0;
  }
}

@media only screen and (min-width: 1103px) and (max-width: 1419px) {
  .see-want-buy-content {
    padding: 15% 10% 13% 10%;
    h1 {
      font-size: 53px;
    }
    h4 {
      font-size: 22px;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1102px) {
  .see-want-buy-content {
    padding: 15% 8% 13% 8%;
    h1 {
      font-size: 40px;
    }
    h4 {
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 978px) {
  .see-want-buy-content {
    padding: 12% 8% 12% 8%;
    h1 {
      font-size: 40px;
    }
    h4 {
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 575px) and (max-width: 699px) {
  .about-blue-part {
    background-size: 120px 150px;
  }
}
