<div class="about-div-4">
  <div class="row m-0 home-last-footer">
    <div class="col-md-5 p-0">
      <div class="footer-logo">
        <a (click) = "customNavigate('home')">
          <img src="/assets/images/latest/simu-footer-logo.svg" />
        </a>
      </div>
    </div>
    <div class="col-md-7 footer-last-links">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a (click) = "customNavigate('about-us')">About us</a>
        </li>
        <li class="list-inline-item">
          <a (click) = "customNavigate('subscription-plan')">Pricing</a>
        </li>
        <li class="list-inline-item">
          <a (click) = "customNavigate('our-team')">Team</a>
        </li>
        <li class="list-inline-item">
          <a (click) = "customNavigate('contact-us')">Contact</a>
        </li>
        <li class="list-inline-item"><a href="https://intercom.help/simustream">FAQs</a></li>
      </ul>
    </div>

    <div class="col-md-5 copyright ">
      <h5>
        <i class="pr-2 far fa-copyright"></i>2019 SimuStream | All rights
        reserved
      </h5>
    </div>
    <div class="col-md-7 footer-last-links last-two-links">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/privacy-policy" target="_blank">Privacy Policy</a></li>
        <li class="list-inline-item"><a href="/usage-policy" target="_blank">Acceptable Usage Policy</a></li>
      </ul>
    </div>
  </div>
</div>
