<main-header></main-header>
<div class="home-div-1 pb-5">
  <div class="row m-0 home-background-img pb-2">
    <div class="home-text-part col-md-6 p-0">
      <div class="home-text-part-content">
        <div class="home-text-part-content-heading fadeIn">
          <!-- <h2>Boost Conversions with Assets <br />You Already Own</h2> -->
          <img src="assets/animated-gifs/header_title.gif" class="img-fluid" />
        </div>
        <div class="home-text-part-content-link mt-5">
          <a (click)="scroll()">
            <h4>
              <!-- Monetize your video today
              <img class="home-arrow " src="assets/images/latest/arrow 1.svg" /> -->
              <img src="assets/animated-gifs/see_how.gif" class="fadeIn img-fluid cursor-pointer" />
            </h4>
          </a>
        </div>
      </div>
    </div>
    <div class="home-imgs-part col-md-6 p-0">
      <div class="home-imgs-part-content">
        <div class="row graph-upper-row">
          <div class="col-width-40 p-0">
            <div class="div-1-graph-1">
              <img class="fadeInRight" src="assets/videoconversion-graph.gif" />
            </div>
          </div>
          <div class="col-width-60 p-0">
            <div class="div-1-graph-2">
              <img class="fadeInRight" src="assets/topproduct-graph.gif" />
            </div>
          </div>
        </div>
        <div class="row m-0 graph-lower-row">
          <div class="div-1-graph-3 p-0">
            <img class="fadeInRight" src="assets/totalsale-graph.gif" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-div-2 pt-4" >
  <div class="home-div-2-content">
    <div id="target" class="row m-0 home-custom-row">
      <img class="fadeIn wow img-fluid content-hide-mobile" src="assets/animated-gifs/content2_2.gif" />
      <img class="fadeIn wow img-fluid content-hide-desktop" src="assets/animated-gifs/mob_block2.gif" />
      <!-- <div class="home-div-2-heading pb-3">
          <h2 class="wow jackInTheBox">
            Your brand invests heavily in video, and it shows: your content is
            great. The issue?
          </h2>
        </div>
        <div class="home-div-2-text">
          <p class="wow fadeIn">
            The buy button takes too long to get to-and it's ineffective. Of
            would-be consumers, only 3.3% are completing their purchases.
          </p>
          <h3 class="pb-5 pt-3 wow fadeIn">Not with SimuStream.</h3>
        </div> -->
    </div>

    <div class="row m-0 home-thin-divider-outer">
      <div class="row m-0 home-thin-divider-inner"></div>
    </div>

    <div class="row m-0 home-custom-row content-hide-desktop">
      <div class="home-setting-icon mb-4 mt-5">
        <img src="assets/images/latest/how-it-works-icon.svg" />
      </div>
      <div class="home-div-2-centered-heading">
        <h2 class="wow">
          As shoppable video software, our platform enables consumers to buy
          while they stream-right inside your video.
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="home-div-3">
  <div class="">
    <img src="assets/animated-gifs/block_video_1.gif" class="img-fluid wow fadeIn content-hide-mobile">
    <img src="assets/animated-gifs/mob_video.gif" class="img-fluid wow fadeIn content-hide-desktop">
    <!-- <video width="100%" playsinline autoplay muted loop>
        <source src="assets/works.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video> -->
  </div>
  <!-- <div class="row m-0 pb-4">
    <div class="col-md-5 pb-5 wow">
      <h3 class="pt-4 pb-4">How It Works?</h3>
      <h4 class="div-3-point-1">
        <span class="green-sr-no">{{ pointOneCount }}</span> {{ pointOneText }}
      </h4>
      <h4 class="div-3-point-2 greyed">
        <span> {{ pointTwoCount }} </span> {{ pointTwoText }}
      </h4>
      <h4 class="div-3-point-3 greyed">
        <span>{{ pointThreeCount }}</span> {{ pointThreeText }}
      </h4>
    </div>
    <div class="col-md-7 p-0">
      <div class="div-3-img">
        <div class="stream">
          <img src="assets/images/latest/stream-sample.png" />
          <div class="play-video-btn">
            <img src="assets/images/latest/play.svg" />
          </div>
        </div>
        <div class="home-progress-bar">
          <img src="assets/images/latest/progress-bar.svg" />
        </div>
      </div>
    </div>
  </div> -->

  <div class="row m-0 pt-5 pb-5">
    <div class="col-md-7 graph-div">
      <div class="div-3-img-2">
        <img class="fadeIn wow img-fluid" src="assets/animated-gifs/graf_content4.gif" style="max-width: 630px;" />
      </div>
    </div>

    <div class="col-md-5 mt-md-5 graph-div-content">
      <div class="row pl-3">
        <div class="col-xs-2 home-loop-icon">
          <img src="assets/images/latest/every transacation icon.svg" />
        </div>
        <h2 class=" col-xs-10 pt-4 pb-4">Every transaction is cake.</h2>
      </div>
      <p class="pl-1">
        Meet shoppers where they spend their time: online. Make it easy for them
        to purchase - and watch your revenue skyrocket.
      </p>
    </div>
  </div>
</div>

<div class="home-div-4">
  <div class="div-4-heading">
    <h2>Fully integrated with:</h2>
  </div>
  <div class="div-4-logos row">
    <span class="shopify-logo"><img src="assets/images/latest/shopify_logo.svg" /></span>
    <span class="div-4-cross" style="visibility: collapse;">
      <img src="assets/images/latest/cross.svg" />
    </span>
    <span class="youtube-logo"><img src="assets/images/latest/YouTube_Logo.svg" /></span>
  </div>
</div>

<div class="home-div-5">
  <div class="row m-0">
    <div class="col-md-7 p-0">
      <div class="home-see-want-buy-background">
        <div class="home-see-want-buy-content">
          <h1>See It. Want It. Buy It.</h1>
          <div class="mt-5">
            <a [routerLink]="['/subscription-plan']">
              <h4>
                Monetize your video today
                <img class="home-arrow" src="assets/images/latest/arrow 1.svg" />
              </h4>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 p-0">
      <div class="home-div-5-image">
        <img src="assets/images/latest/people-sitting.png" />
      </div>
    </div>
  </div>
</div>

<div class="home-div-6">
  <div class="row m-0 justify-content-center">
    <!-- <div class="col-4 text-center">
      <div class="home-footer-logo">
        <img src="assets/images/above-footer-logo/ryoulive.png" style="max-height: 138px;" />
      </div>
    </div> -->
    <div class="col text-center">
      <div class="home-footer-logo">
        <img src="assets/images/above-footer-logo/mashable.svg" />
      </div>
    </div>
    <div class="col text-center">
      <div class="home-footer-logo">
        <img src="assets/images/above-footer-logo/tnw.svg" />
      </div>
    </div>
    <div class="col text-center">
      <div class="home-footer-logo">
        <img src="assets/images/above-footer-logo/entrepreneur.svg" />
      </div>
    </div>
    <div class="col text-center">
      <div class="home-footer-logo">
        <img src="assets/images/above-footer-logo/nail.png" />
      </div>
    </div>
  </div>
</div>

<main-footer></main-footer>
