<form class="" [formGroup]="acountForm">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
      <div class="col-md-4 col-lg-4 col-xs-4 d-inline">
        <img
          src="{{accountImages.youtubeImg}}"
          class="youtube_icon"
        />
      </div>
      <div class="col-md-6 col-lg-6 col-xs-6 form-group d-inline">
          <label for="" class=" d-inline">Youtube</label>
          <div class="mx-4 d-inline">
            <button class="m-1 btn btn-success d-inline" type="button" (click)="action()" >{{form.button}}</button>
            <button class="m-1 btn btn-danger d-inline" type="button" (click)="close()">Cancel</button>
          </div>
          <div class="ol-md-12 col-lg-12 col-xs-12">
              <label for="">Title</label>
              <input
              type="text"
              class="mt-1 form-control"
              formControlName="titleAccount"
            />
            <label for="">Channel Code</label>
              <input
                type="text"
                class="mt-1 form-control"
                formControlName="linkAccount"
              />
          </div>

      </div>
    </div>
  </div>
</form>
