<div class="sign-in-component">
  <div class="sign-in-form-section row m-0 background-page">
    <div class="col-md-12 logo-head">
      <a class="navbar-brand logo" [routerLink]="['/home']">
        <img class="brand-logo logomobile" src="/assets/icons-simustream/blue-simu-logo.svg" alt="">
      </a>
    </div>
    <img src="/assets/images/latest/pricing element 1.svg" class="pricingsideimgx">
    <img src="/assets/images/latest/faqs element 2.svg" class="pricingsideimgy">
    <img src="/assets/images/latest/contact element.svg" class="pricingsideimg3">
    <div class="col-md-4 bg border-style shadow-box sign-box">
      <div class="sign-in-header-section mb-3">
        <h2>Please enter your new password here</h2>
      </div>
      <form ngNativeValidate (ngSubmit)="changePassword()" name="sign-in">
        <div class="form-group">
          <input type="password" class="form-control mt-3" [(ngModel)]="password.newPassword" id="password" name="password"
            placeholder="Password">
          <span class="errormsg" *ngIf="password.newPassword && checkLength(password.newPassword,'password')">*Password should be
            minimum 8 characters long.</span>
          <input type="password" class="form-control mt-3" [(ngModel)]="password.confirmPassword" id="confirmPassword"
            name="confirmPassword" placeholder="Confirm Password">
          <span class="errormsg" *ngIf="password.newPassword && (password.newPassword !== password.confirmPassword)">*Passwords don't
            match.</span>
          <div class="mt-3">
            <response-manager></response-manager>
            <button type="submit" class="btn btn-sign-in mt-3"
              [disabled]="checkFormValidity() || password.newPassword !== password.confirmPassword || disbaleBtn">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>